@import "nav.css";

.contact{
  position: absolute;
  width: 649px;
  height: 781px;
  left: 877px;
  top: 183px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

nav .big-logo{
  position: absolute;
}