@import "nav.css";

body{
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.logo-contact{
  width: 500px;
  height: 90px;
}

.logo-contact img{
  width: 400px;
}

.contact{
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 20px;
  box-sizing: border-box;
  color: #1E3E7B;
}

.contact-text{
  text-align: center;
  width: 300px;
  margin: 0 auto 40px auto;
}

.contact h4{
  margin-bottom: 5px;
}

.contact p{
  margin-bottom: 10px;
}

.kotak-hitam{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0,0.5);
  display: none;
}

/* hamburger menu */
.menu-toggle{
  display: none;
}


@media screen and (max-width: 768px) {
  nav ul{
      list-style: none;
      display: flex;
      width: 50%;
      justify-content: space-between;
      transform: translateX(100%);
      overflow: hidden;
  }
}

/* mobile version */
@media screen and (max-width: 576px) {

  .kotak_mobile{
    display: inline-block;
  }

  /* responsive navbar */
  nav ul{
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    background-color: rgb(30, 62, 123);
    height: 100vh ;
    width: 300px;
    align-items: center;
    justify-content: flex-end !important;
    transition: all 1s;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
  }

  nav .navbar ul .menu{
    margin-top: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
  
  }

  nav .navbar ul .menu li{
    width: 230px;
  }

  nav .navbar ul .menu li a img{
    display: inline-block;
    width: 28px;
    margin-right: 10px;
  }

  nav .navbar ul .menu li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav .navbar ul .gambar li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

  }

  nav .navbar ul .gambar li p{
    margin: 10px 0 0 0;
  }

  nav .navbar ul li a{
    color: rgba(0, 0, 0, 1);
  }


  nav li{
    margin-top: 60px;
  }

  nav ul.slide{
      transform: translateX(0);
      opacity: 1;
  }

  /* hamburger menu */
  .menu-toggle{
      display: flex;
      flex-direction: column;
      height: 20px;
      justify-content: space-between;
      position: relative;
      z-index: 2;
  }
  .menu-toggle span{
      display: block;
      width: 28px;
      height: 3px;
      background-color: aliceblue;
      border-radius: 3px;
      transition: all 0.5s;
  }

  .menu-toggle input{
      position: absolute;
      width: 40px;
      height: 28px;
      left: -6px;
      top: -4px;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
  }

  /* hamburger animation */
  .menu-toggle span:nth-child(2){
      transform-origin: 0 0;
  }
  .menu-toggle input:checked ~ span:nth-child(2){
      /* bacanya, jika input di ceklist maka carikan span yang merupakan anak kedua yang merupakan saudara kandung input
        (nama teknik: sibling */
      transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle span:nth-child(4){
      transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(4){
      transform: rotate(-45deg) translate(-1px, 0);
  }

  .menu-toggle input:checked ~ span:nth-child(3){
      transform: scale(0);
  }

  .contact{
    width: 350px;
    height: 400px;
    position: absolute;
    margin-top: 270px;
    z-index: -2;
  }

  .gambar-logo{
    text-align: center;
    margin-top: 400px;
  }

  .gambar-logo img{
    width: 170px;
  }

}