@import "nav.css";

body{
  overflow-x: hidden;
}

/* filter */
.box-filter{
  margin-top: 20px;
  display: flex;
}

.main .box-filter select{
  padding: 5px 4px;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  color: #5f5f5f;
}

.filter{
  margin-right: 10px;
}

.filter-kota, .filter-status{
  display: none;
  margin-right: 10px;
}

.main .box-filter button{
  padding: 4px 8px;
  cursor: pointer;
}

/* main */
.main{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px 40px;
  min-height: 550px;
}

.main h1{
  font-weight: 100;
  font-size: 20px;
  color: #1E3E7B;
}

.main table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.main table th, .main table td{
  padding: 8px 20px;
}

.main table td{
border: 1px solid #7c7c7c;
}

.main table th{
  border: 1px solid #7c7c7c;
}

.main table th{
  background-color: #1E3E7B;
  color: #ffffff;
}

.main table tr:nth-child(even){
  background-color: #ececec;
}

.main table tr td:nth-child(5){
  text-align: center;
}

.main table tr td a{
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: rgb(30, 62, 123);
  color: #ffffff;
  padding: 4px 20px;
  margin-left: 25px;
}

.main table tr td a:hover{
  background-color: rgba(30, 62, 123,0.7);
}

.kotak-hitam{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0,0.5);
  display: none;
}

/* hamburger menu */
.menu-toggle{
  display: none;
}

@media screen and (max-width: 768px) {
  nav ul{
      list-style: none;
      display: flex;
      width: 50%;
      justify-content: space-between;
      transform: translateX(100%);
  }
}

/* mobile version */
@media screen and (max-width: 576px) {

  .kotak_mobile{
    display: inline-block;
  }

  /* responsive navbar */
  @import "nav.css";
  nav ul{
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    background-color: rgb(30, 62, 123);
    height: 100vh ;
    align-items: center;
    justify-content: flex-end !important;
    transition: all 1s;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
  }

  nav .navbar ul .menu{
    margin-top: 60px;
    width: 270px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
  
  }

  nav .navbar ul .menu li{
    width: 230px;
  }

  nav .navbar ul .menu li a img{
    display: inline-block;
    width: 28px;
    margin-right: 10px;
  }

  nav .navbar ul .menu li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav .navbar ul li a{
    color: rgba(0, 0, 0, 1);
  }

  nav li{
    margin-top: 60px;
  }

  nav ul.slide{
      transform: translateX(0);
      opacity: 1;
  }

  /* hamburger menu */
  .menu-toggle{
      display: flex;
      flex-direction: column;
      height: 20px;
      justify-content: space-between;
      position: relative;
      z-index: 2;
  }
  .menu-toggle span{
      display: block;
      width: 28px;
      height: 3px;
      background-color: aliceblue;
      border-radius: 3px;
      transition: all 0.5s;
  }

  .menu-toggle input{
      position: absolute;
      width: 40px;
      height: 28px;
      left: -6px;
      top: -4px;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
  }

  /* hamburger animation */
  .menu-toggle span:nth-child(2){
      transform-origin: 0 0;
  }
  .menu-toggle input:checked ~ span:nth-child(2){
      /* bacanya, jika input di ceklist maka carikan span yang merupakan anak kedua yang merupakan saudara kandung input
        (nama teknik: sibling */
      transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle span:nth-child(4){
      transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(4){
      transform: rotate(-45deg) translate(-1px, 0);
  }

  .menu-toggle input:checked ~ span:nth-child(3){
      transform: scale(0);
  }

  /* responsive tabel */

  table tr th:nth-child(3),
  table tr th:nth-child(4),
  table tr td:nth-child(3),
  table tr td:nth-child(4){
    display: none;
  }

  .main table tr td a{
    margin-left: 10px;
    padding: 4px 8px;
  }

}
