@import "nav.css";

body{
  overflow-x: hidden;
}

.main{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
}

.main .judul{
  display: flex;
  padding: 10px 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 62, 123);
}

.main .judul img{
  width: 30px;
}

.main .judul h1{
  color: #ffffff;
  margin-left: 10px;
  font-size: 30px;
}

.main .data{
  display: flex;
  padding: 10px 40px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  color: #1E3E7B;
}

.box-nilai{
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  box-sizing: border-box;
  padding-left: 11px;
  padding-right: 11px;
}

.box-nilai, .status-lokasi{
  width: 50%;
}

.nilai{
/* background-color: aqua; */
width: 200px;
height: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.nilai-data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nilai-data span{
  font-size: 20px
}

.nilai-data h2{
  font-size: 50px;
  margin-right: 10px;
}

/* status lokasi */
.status-lokasi{
  height: 320px;
  box-sizing: border-box;
  padding: 18px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status{
  display: flex;
  align-items: center;
}

.status h3{
  margin-right: 10px;
}

.data-status p{
  color: #000000;
}

.lokasi{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.data-status .kota{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.lokasi h3, .kota h3{
  margin-right: 10px;
}

.status-lokasi a{
  display: inline-block;
  text-decoration: none;
}

.status-lokasi .tombol{
  margin-top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-cek-lokasi{
  background-color: #1E3E7B;
  padding: 4px 8px;
  border-radius: 5px;
  color: #ffffff;
}

iframe{
  margin-top: 10px;
  width:"400px" ;
  height:"450px";
}

.btn-cek-lokasi:hover{
  background-color: rgba(30, 62, 123, 0.7);
}

.status-lokasi .btn-kembali{
  background-color: #EEE50C;
  padding: 4px 8px;
  border-radius: 5px;
  color: #1E3E7B;
  margin-right: 10px;
}

.btn-kembali img{
  width: 15px;
}

.kotak-hitam{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0,0.5);
  display: none;
}

/* hamburger menu */
.menu-toggle{
  display: none;
}

@media screen and (max-width: 768px) {
  nav ul{
      list-style: none;
      display: flex;
      width: 50%;
      justify-content: space-between;
      transform: translateX(100%);
  }
}

/* mobile version */
@media screen and (max-width: 576px) {

  .kotak_mobile{
    display: inline-block;
  }
  /* start:navbar */
  /* responsive navbar */
  nav ul{
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    background-color: rgb(30, 62, 123);
    height: 100vh ;
    width: 300px;
    align-items: center;
    justify-content: flex-end !important;
    transition: all 1s;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
  }

  nav .navbar ul .menu{
    margin-top: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
  
  }

  nav .navbar ul .gambar li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

  }

  nav .navbar ul .gambar li p{
    margin: 10px 0 0 0;
  }

  nav .navbar ul .menu li{
    width: 230px;
  }

  nav .navbar ul .menu li a img{
    display: inline-block;
    width: 28px;
    margin-right: 10px;
  }

  nav .navbar ul .menu li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav .navbar ul li a{
    color: rgba(0, 0, 0, 1);
  }

  nav li{
    margin-top: 60px;
  }

  nav ul.slide{
      transform: translateX(0);
      opacity: 1;
  }

  /* hamburger menu */
  .menu-toggle{
      display: flex;
      flex-direction: column;
      height: 20px;
      justify-content: space-between;
      position: relative;
      z-index: 2;
  }
  .menu-toggle span{
      display: block;
      width: 28px;
      height: 3px;
      background-color: aliceblue;
      border-radius: 3px;
      transition: all 0.5s;
  }

  .menu-toggle input{
      position: absolute;
      width: 40px;
      height: 28px;
      left: -6px;
      top: -4px;
      opacity: 0;
      cursor: pointer;
      z-index: 3;
  }

  /* hamburger animation */
  .menu-toggle span:nth-child(2){
      transform-origin: 0 0;
  }
  .menu-toggle input:checked ~ span:nth-child(2){
      /* bacanya, jika input di ceklist maka carikan span yang merupakan anak kedua yang merupakan saudara kandung input
        (nama teknik: sibling */
      transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle span:nth-child(4){
      transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(4){
      transform: rotate(-45deg) translate(-1px, 0);
  }

  .menu-toggle input:checked ~ span:nth-child(3){
      transform: scale(0);
  }
  /* end:navbar */

  /* start:main */

  .main{
    height: auto;
  }

  .main .data{
    flex-direction: column;
    padding: 10px 20px;
  }

  /* nilai data */

  .box-nilai{
    width: 230px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(3, 50px);
    gap: 30px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 20px 0;
  }

  .nilai-data span{
    font-size: 10px
  }
  
  .nilai-data h2{
    font-size: 25px;
    margin-right: 10px;
  }

  .nilai{
    width: 100px;
    height: 50px;
  }

  /* start:status-lokasi */
  .status-lokasi{
    width: 80%;
  }

  .data-status h3{
    font-size:16px;
  }

  .data-status p{
    font-size: 14px;
  }

  iframe{
    display: none;
  }

  .status-lokasi .tombol{
    justify-content: center;
  }

  /* end:status-lokasi */

  /* start:tombol */
  .tombol{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tombol img{
    width: 10px;
  }

  .tombol .btn-kembali{
    width: 100px;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .tombol .btn-cek-lokasi{
    width: 100px;
    text-align: center;
  }

  .tombol a{
    font-size: 14px;
  }

  /* end:tombol */
}


