@import "nav.css";

.main{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
}

.main .judul{
  display: flex;
  padding: 10px 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 62, 123);
}

.main .judul img{
  width: 30px;
}

.main .judul h1{
  color: #ffffff;
  margin-left: 10px;
  font-size: 30px;
}

.main .data{
  display: flex;
  padding: 10px 40px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  color: #1E3E7B;
}

.box-nilai, .status-lokasi{
  width: 50%;
}

.box-nilai{
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  box-sizing: border-box;
  padding-left: 11px;
  padding-right: 11px;
}

.nilai{
/* background-color: aqua; */
width: 200px;
height: 100px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.nilai-data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nilai-data span{
  font-size: 20px
}

.nilai-data h2{
  font-size: 50px;
  margin-right: 10px;
}

/* status lokasi */
.status-lokasi{
  height: 320px;
  box-sizing: border-box;
  padding: 18px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status{
  display: flex;
  align-items: center;
}

.status h3{
  margin-right: 10px;
}

.status p{
  padding: 4px 8px;
  background-color: rgb(40, 252, 40);
  border-radius: 5px;
  color: #000000;
}

.lokasi{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.data-status .kota{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.lokasi h3, .kota h3{
  margin-right: 10px;
}

.status-lokasi a{
  display: inline-block;
  text-decoration: none;
}

.status-lokasi .tombol{
  margin-top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-cek-lokasi{
  background-color: #1E3E7B;
  padding: 4px 8px;
  border-radius: 5px;
  color: #ffffff;
}

.status-lokasi .btn-kembali{
  background-color: #EEE50C;
  padding: 4px 8px;
  border-radius: 5px;
  color: #1E3E7B;
  margin-right: 10px;
}

.btn-kembali img{
  width: 15px;
}

